* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;

}

body {
    background-color: rgb(166, 99, 230);
}

.container {
    padding: 25px 10%;
    text-align: center;
}

.container .heading {
    font-size: 35px;
    padding-bottom: 25px;
    animation: inicio .5s linear;
}

.container #search-box {
    width: 600px;
    border: 3px solid black;
    padding: 10px 15px;
    font-size: 20px;
    animation: inicio .5s linear;
}

.container .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 30px;
}

.container .image-container .image:hover {
    transform: scale(1.05);
}


.container .image-container .image {
    padding: 15px;
    background-color: whitesmoke;
    box-shadow: 0 5px 10px black;
    border: 2px solid black;
    width: 350px;
    border-radius: 20px;
    transition: .3s;
    animation: inicio .5s linear;
}

.container .image-container .image img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.container .image-container .image h3 {
    font-size: 15px;
}

@keyframes inicio {
    0%{
        transform: scale(0.5) translateY(-20px);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .container #search-box{
        width: 100%;
    }
}

@media (max-width: 450px) {
    .container{
        padding: 25px 20px;
    }

    .container .image-container .image {
        width: 100%;
    }
}